.App-menu {
    display: flex;
    list-style-type: none;
}

.App-menu-wrapper {
    display: flex;
    align-items: center;
}

.App-menu .App-menu-item {
    text-decoration: none;
    padding: 24px;
    color: #33317e;

    font-size: 18px;
    line-height: 24px;
}

.App-menu .App-menu-item.active {
    font-weight: bold;
    color: #4240a5;
}
