.App-sidebar {
    display: flex;
    flex-direction: column;

    color: #33317e;
}

.App-sidebar__container {
    padding: 24px;
    max-width: 33vh;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.App-sidebar__title {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 56px;
    letter-spacing: -1.24px;

    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.App-sidebar__lead {
    text-transform: capitalize;
    line-height: 24px;
    font-weight: bold;
    font-size: 18px;
}
