.App-sidebar {
    display: flex;
    flex-direction: column;
    width: 350px;
    color: #33317e;
}

.App-sidebar__container {
    padding: 24px;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.App-sidebar__title {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 56px;
    letter-spacing: -1.24px;

    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.App-sidebar__lead {
    text-transform: capitalize;
    line-height: 24px;
    font-weight: bold;
    font-size: 18px;
}

.App-sidebar__route_block_input, .App-sidebar__route_block_build {
    display: block;
    width: 100%;
    margin-bottom: 16px;
    font-size: 14px;
    padding: 16px;
    text-align: left;
    box-sizing: border-box;
    cursor: pointer;
}

.App-sidebar__route_block_input {
    color: #33317e;
    border: 1px solid rgba(51, 49, 126, 0.24);
}

.App-sidebar__route_block_build {
    background: #33317e;
    color: #ffffff;
    border: 0;
}