.App-map__wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

.App-map__container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.App-map__sidebar {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    margin: 12px;
    background-color: #404040;
    color: #ffffff;
    padding: 6px;
    font-weight: bold;

    z-index: 1;
}
