.App-map__wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

.App-map__container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.App-map__sidebar {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    margin: 12px;
    background-color: #404040;
    color: #ffffff;
    padding: 6px;
    font-weight: bold;
    z-index: 1;
}

.App-map__menu {
    position: absolute;
    margin: 0 auto;
    bottom: 0;
    left: 0;
    right:0;
    width:300px;
    text-align: center;
    padding: 6px;
    font-weight: bold;
    z-index: 1;
}

.App-map__menu_button {
    margin:0 10px;
    padding: 16px;
    background: #33317e;
    color: #ffffff;
    border: 0;
}

.App-map_marker_point, .App-map_marker_end, .App-map_marker_start, .App-map_marker_round {
    background-size: cover;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
}

.App-map_marker_point {
    width: 40px;
    height: 40px;
    background: url("../../assets/icons/object-types/museum.png") no-repeat center #ffffff;
    background-size: contain;
}

.App-map_marker_end {
    background-color: #00ff00;
}

.App-map_marker_start {
    background-color: #0000ff;
}

.App-map_marker_round {
    background-color: #000000;
}